@import url(https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins&display=swap);

.icon,
.logo {
    margin: 0 10px
}

.icon:hover,
.logo {
    color: #469cf7
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(2rem, 0.5vw + 2vw, 2.25rem)
}

.title.title-primary {
    color: #469cf7
}

.left-bar,
.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
}

.logo {
    font-family: "Oleo Script", cursive;
    font-size: clamp(2rem, 0.5vw + 2vw, 2.25rem);
    font-weight: 700;
    text-decoration: none
}

.icon,
body {
    color: #252324;
}

.icon {
    cursor: pointer;
    font-size: clamp(1.5rem, 0.5vw + 2vw, 1.75rem)
}

header.header {
    box-shadow: 0 3px 10px 0 #252324;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px
}

.left-bar {
    background: #fff;
    box-shadow: 3px 0 10px 0 #242523;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: 2
}

.container:nth-child(-n+4) {
    border-bottom: 2px solid #4F4F4F;
    padding: 5px
}

.container:nth-child(1) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.container:nth-child(n+2) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
}

.container:nth-child(n+2) .item {
    border: 2px solid #4F4F4F;
    box-shadow: 3px 3px 10px 0 #252324;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
    font-size: clamp(.875rem, 0.5vw + 2vw, 1.125rem);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

.container:nth-child(n+2) .item:hover {
    background: #469cf7;
    color: #fff
}

.container:nth-child(n+2) .item .icon {
    font-size: clamp(1rem, 0.5vw + 2vw, 1.25rem)
}

.container:nth-child(n+2) .item:hover {
    background: #469CF7;
    color: #252324;
}

.container:nth-child(n+2) .item .icon {
    font-size: clamp(1rem, 0.5vw + 2vw, 1.25rem);
}

.container:nth-child(n+2) .item .icon:hover {
    color: #252324;
}

* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Poppins', sans-serif
}

html {
    height: 100vh;
    width: 100vw
}

.modal {
    background: rgba(0, 0, 0, .6);
    display: none;
    width: 100%;
    z-index: 1
}

@keyframes smoothSideBar {
    0% {
        transform: translateX(-18rem)
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes opacityModal {
    0% {
        opacity: 0%
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%
    }

}
@keyframes closeOpacityModal {
    0% {
        opacity: 100%
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 0%
    }
}

@keyframes closeSmoothSideBar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-18rem);
    }
}