@import './variables.scss';
@import './animations.scss';

header.header.about {
    @include display-flex(row, space-between, center);
    
    position: relative;
    top: 0;
    right: 0;
    
    margin: 5px 10px;
    height: auto;
    width: auto;
    z-index: 1;
}

main.about {
    overflow-x: hidden;
    overflow-y: auto;
    
    .card {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(10
            , 10, 10, 0.3);
            
        margin: 5px 0;
    }
}