@import './variables.scss';

* {
    margin: 0;
    padding: 0;

    &::selection {
        color: $colorWhite;
        background: $colorPrimary;
    }
}

body {
    color: $colorDarkPrimary;

    font-family: $fontPrincipal;
    
    height: 100vh;
    width: 100vw;
}

html {
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $colorDarkPrimary;
}

::-webkit-scrollbar-thumb {
    background: $colorPrimary;
    border-radius: 10px;
}

.modal {
    animation: opacityModal .3s ease-in-out forwards;
    
    background: rgba(0, 0 , 0, .5);

    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
    z-index: 2;
    
}

.container {
    border-radius: 1rem;

    padding: 5px;
    height: auto;
    width: auto;
    
    &.container-row {
        @include display-flex(row, stretch, center);
    }

    &.container-row-center {
        @include display-flex(row, center, center);
    }
    
    &.container-column {
        @include display-flex(column, stretch, stretch);
    }
    
    &.container-column-center {
        @include display-flex(column, center, center);
    }
    
    &.container-row-between {
        @include display-flex(row, space-between, center);
    }
    
    &.container-disable {
        display: none;
    }
}

.card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(10
    , 10, 10, 0.3);

    @include display-flex(column, stretch, stretch);

    margin: 5px 10px;
    padding: 10px;
    height: auto;
    width: auto;
    z-index: 2;
}

hr {
    border: none;
    
    @include display-flex(column, center, center);
    
    position: relative;
    
    height: 20px;
    width: 100%;
    z-index: 0;
    
    &:after {
        content: '';
        
        background: linear-gradient(to right, rgba(14, 42, 86, 0), rgba(14, 42, 86, 0.75), rgba(14, 42, 86, 0));;
        
        position: absolute;
        
        height: 2px;
        width: 100%;
        z-index: 1;
    }
    
    &:before {
        content: '';
        transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        
        background: $colorDarkPrimary;
        
        position: absolute;
        
        height: 10px;
        width: 10px;
        z-index: 2;
    }
}

.form {
    @include display-flex(column, stretch, stretch);
}

.input {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(10
    , 10, 10, 0.3);
    caret-color: $colorPrimary;
    
    @include font-size(.875rem);
    font-family: $fontPrincipal;

    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    
    &.input-icon {
        border-radius: 0 10px 10px 0;

        margin: 0;
    }
    
    &.input-button {
        border-radius: 10px 0 0 10px;

        margin: 0;
    }
}

.file {
    border-radius: 100%;
    cursor: pointer;

    @include display-flex(column, center, center);

    position: absolute;

    @include size(2rem, 2rem);

    .icon {
        color: $colorWhite;

        &:hover {
            color: $colorWhite;
        }
    }

    &.no-text[type=file] { 
        color:transparent;
    }

    &.no-text {
        visibility:hidden;
    }

    &.file-primary {
        background: $colorPrimary;
    }

    &.file-dark-primary {
        background: $colorDarkPrimary;
    }
}

.date {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(10
    , 10, 10, 0.3);
    
    @include font-size(.875rem);
    font-family: $fontPrincipal;

    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;

    &.date-icon {
        border-radius: 0 10px 10px 0;
       
        margin: 0;
    }
}

.select {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(10
    , 10, 10, 0.3);
    
    @include font-size(.875rem);
    font-family: $fontPrincipal;

    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;

    &.select-icon {
        border-radius: 0 10px 10px 0;
       
        margin: 0;
    }
}

.button {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(10
    , 10, 10, 0.3);
    cursor: pointer;
    
    @include display-flex(row, center, center);

    @include font-size(.875rem);
    font-family: $fontPrincipal;
    font-weight: bold;

    margin: 5px;
    padding: 10px;
    height: auto;
    @include width-size(95%);

    &.button-primary {
        @include button-style($colorPrimary, $colorWhite);
    }

    &.button-dark-primary {
        @include button-style($colorDarkPrimary, $colorWhite);
    }
    
    &.button-danger {
        @include button-style($colorDanger, $colorWhite);
    }
    
    &.button-icon {
        border-radius: 0 10px 10px 0;
    
        margin: 0;
        
        &.button-icon-primary {
            @include button-style($colorPrimary, $colorWhite);
            
            .icon {
                color: $colorWhite;
                
                @include font-size(1rem);
            }
        }
    }
}

.checkbox {
    all: unset;
    @include check-style($colorWhite, $colorPrimary);
    border-radius: 3px;
    cursor: pointer;

    margin: 5px;
    height: 15px;
    width: 15px;
}

.image {
    height: auto;
    width: auto;

    
    &.profile {
        border-radius: 100%;
        
        @include size(6.25rem, 6.25rem);
    }
    
    &.profile-small {
        border-radius: 100%;

        @include size(3.5rem, 3.5rem);
    }
    
    &.profile-little {
        border-radius: 100%;
        
        @include size(1.5rem, 1.5rem);
    }

    &.checkmark {
        @include size(.9375rem, .9375rem);
    }
}

.scroll {
    overflow-x: auto;
}

.overflow-x {
    overflow-x: auto;
}

.overflow-y {
    overflow-y: auto;
}
