@import './variables.scss';
@import './animations.scss';

div.modal.editProfile {
    width: 100%;
    height: 100%;

    z-index: 10;
}

.edit {
    border-radius: 100%;
    cursor: pointer;

    @include display-flex(column, center, center);

    padding: 2px;
    @include size(2rem, 2rem);

    .icon {
        color: $colorWhite;

        &:hover {
            color: $colorWhite;
        }
    }

    &.edit-primary {
        background: $colorPrimary;
    }

    &.edit-dark-primary {
        background: $colorDarkPrimary;

        &:hover {
            background: $colorPrimary;
            color: $colorDarkPrimary;
        }
    }
}

div.card.editProfile {
    background: $colorWhite;

    overflow-x: hidden;
    overflow-y: auto;
}