@import './variables.scss';
@import './animations.scss';

div.modal .card.edit {
    overflow-x: hidden;
    overflow-y: auto;

    .header {

        background: $colorWhite;
        box-shadow: 3px 3px 10px 0 $colorBlack;
        border: 2px solid $colorBlack;
        border-radius: 0;

        @include display-flex(column, center, center);
        
        position:  relative;

        margin: 5px;
        padding: 5px;
        width: clamp(92%, 93%, 94%);

    }
}