@import './variables.scss';
@import './animations.scss';

div.fab-container {
    position: absolute;
    bottom: clamp(15vh, 16vh, 17vh);
    right: clamp(15vw, 16vw, 17vw);

    padding: 5px;
    height: auto;
    width: auto;
    z-index: 1;

    
    .fab {
        background: $colorPrimary;
        border-radius: 50%;
        box-shadow: 0px 3px 9px rgba(0,0,0,.5);
        color: $colorWhite;;

        @include display-flex(column, center, center);

        text-decoration: none;

        padding: 5px;
        margin: 5px 0;
        @include size(3rem, 3rem);

        .icon {
            color: $colorWhite;
        }
    }
    
    .fab-text, .fab-image, .fab-video, .fab-close {
        display: none;
    }
    
    .fab-text, .fab-image, .fab-video {
        animation: scale .3s ease-in-out forwards;
    }
}