@import './variables.scss';

.logo {
    color: $colorPrimary;

    font-family: $fontLogo;
    @include font-size(2rem);
    font-weight: bold;
    text-decoration: none;

    margin: 0 10px;
}

.icon {
    color: $colorBlack;
    cursor: pointer;

    @include font-size(1.5rem);

    margin: 0 10px;

    @include hover-font($colorPrimary);
}

.title {
    font-family: $fontPrincipal;
    @include font-size(2rem);

    &.title-primary {
        @include font-color($colorPrimary);
    }
}