@import './variables.scss';

.logo {
    color: $colorPrimary;

    @include display-flex(row, stretch, center);

    font-family: $fontLogo;
    @include font-size(2rem);
    font-weight: bold;
    text-decoration: none;

    margin: 0 10px;
}

.icon {
    color: $colorBlack;
    cursor: pointer;

    @include font-size(1.5rem);

    margin: 0 5px;

    @include hover-font($colorPrimary);

    &.icon-white {
        color: $colorWhite;
    }

    &.icon-big {
        @include font-size(5rem);
    }
    
    &.icon-small {
        @include font-size(.875rem);
    }
}

.title {
    font-family: $fontPrincipal;
    @include font-size(2rem);

    &.title-medium {
        @include font-size(1.5rem);
    }

    &.title-primary {
        @include font-color($colorPrimary);
    }
}

.text {
    @include font-size(.875rem);
    font-family: $fontPrincipal;
    white-space: nowrap;   

    margin: 5px;

    &.text-primary {
        color: $colorPrimary;
    }

    &.text-dark-primary {
        color: $colorDarkPrimary;
    }

    &.text-error {
        color: $colorDanger;

        @include font-size(.875rem);
        font-weight: bold;
    }

    &.text-bold {
        font-weight: bold;
    }

    &.text-gray {
        color: $colorGray;
    }
    
    &.text-wrap {
        text-wrap: wrap;
        text-overflow: clip;
        
        width: 100%;
    }

    &.text-checkbox {
        @include display-flex(row, stretch, center);
    }

    &.more {
        cursor: pointer;
    }
    
    &.bio {
        @include display-flex(column, center, center);
        
        text-align: center;
        text-wrap: wrap;
        text-overflow: clip;

        width: 20ch;
    }
}

.link {
    cursor: pointer;
    
    white-space: nowrap;
    text-decoration: none;

    margin: 1.5px;
    
    &.link-primary {
        @include link-style($colorPrimary);
    }

    &.link-dark-primary {
        @include link-style($colorDarkPrimary);
    }
}