@import './variables.scss';

.logo {
    color: $colorPrimary;

    font-family: $fontLogo;
    @include font-size(2rem);
    text-decoration: none;

    margin: 0 10px;
}

.icon {
    color: $colorBlack;
    cursor: pointer;

    @include font-size(1.5rem);
}