@import './variables.scss';
@import './animations.scss';

main.friends {
  .card.search-friends {
    overflow-y: auto;
    overflow-x: hidden;

    .card.user {
      @include display-flex(row, center, center);

      width: 100%;
    }
  }

  .card.friends {
    overflow-y: auto;
    overflow-x: hidden;
    
    .card.user {
      @include display-flex(row, center, center);
      width: 100%;
    }
  }

  .button {
    width: auto;

    .icon {
      color: $colorWhite;
    }
  }
} 