@import './variables.scss';
@import './componets.scss';

.card .top {
    border: 2px solid $colorGray;
    box-shadow: 3px 3px 10px 0 $colorBlack;

    @include display-flex(row, space-between, center);

    margin: 5px;
    padding: 5px;
}

.card .main {
    border: 2px solid $colorGray;
    box-shadow: 3px 3px 10px 0 $colorBlack;

    @include display-flex(column, stretch, stretch);

    margin: 5px;
    padding: 10px;
}

.card .bottom {
    border: 2px solid $colorGray;
    box-shadow: 3px 3px 10px 0 $colorBlack;

    @include display-flex(row, space-between, center);

    margin: 5px;
    padding: 10px;
}

.container {
    &.container-error {
        display: none;
    }
}

.modal {
    animation: opacityModal .3s ease-in-out forwards;
}

.modal .card {
    animation: smoothUpCard .5s ease-in-out forwards;
}