@import './variables.scss';
@import './animations.scss';

@media only screen and (min-device-width: 768px) {
  main.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    .card {
      width: auto;

      .item {
        width: 60%;
      }
    }

    .button {
      width: 60%;
    }
  }

  .modal.editProfile {
    .card.editProfile {
      @include display-flex(column, center, center);

      height: auto;
      width: auto;

      .button {
        width: 100%;
      }
    }
  }

  main.friends {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    .card.search-friends {
    .card.user {
      width: 100vw;
    }
  }
  
  .card.friends {
    .card.user {
      width: 100vw;
    }
  }

    .card {
      width: 80%;
    }
  }

  main.principal{
    @include display-flex(column, center,  center);
    .card.post{
      width: 60%;
      height: auto;
    }
  }
  
  main.card.post {
    @include display-flex(column, center, center);
  
    .post {
      @include size(20vh, 15vw);
      &.post-full {
        @include size(70vh, 70vw);
      }
    }
  
    .input {
      width: 85vw;
    }
  
    .file {
      @include size(3rem, 3rem);
    }
  }
}
