@import './variables.scss';
@import './animations.scss';

@media only screen and (min-device-width: 768px) {
  main.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .card {
      width: 80%;

      .item {
        width: 60%;
      }
    }

    .button {
      width: 60%;
    }
  }
}