@import './variables.scss';
@import './animations.scss';

@media only screen and (min-device-width: 768px) {
  main.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    .card {
      width: auto;

      .item {
        width: 60%;
      }
    }

    .button {
      width: 60%;
    }
  }

  .modal.editProfile {
    .card.editProfile {
      @include display-flex(column, center, center);

      height: auto;
      width: auto;

      .button {
        width: 100%;
      }
    }
  }

  main.friends {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    .card.search-friends {
    .card.user {
      width: 100vw;
    }
  }
  
  .card.friends {
    .card.user {
      width: 100vw;
    }
  }

    .card {
      width: 80%;
    }
  }

  main.card.post {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .container {
      width: 60%;

      .card.container {
        width: 100%;

        .form {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;

          width: 100%;

          .input {
            width: 95%;
          }
        }

        .file {
          @include size(3rem, 3rem);
        }
      }
    }

    .card.posts,
    .card.comment {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      width: 60%;

      .post,
      .post-video {
        @include display-flex(row, center, center);
        @include size(10vw, 15vw);
      }
    }

    .card.public {
      width: 80%;
    }
  }
}