@import './variables.scss';
@import './animations.scss';

header.header {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(10, 10, 10, .3);
    
    @include display-flex(row, space-between, center);

    position: relative;
    top: 0;
    right: 0;
    // margin: 10px 0px 0px 30px;
    height: auto;
    width: auto;
    z-index: 1;
}

.left-bar {
    // animation: smoothSideBar 1s ease-in-out;
    transition: .5s;

    background: $colorWhite;
    box-shadow: 3px 0px 10px 0px $colorGray;

    @include display-flex(column, stretch, center);

    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;

    height: 100%;
    width: auto;
    z-index: 2;
}

.left-bar .top {
    border-bottom: 1px solid $colorGray;

    @include display-flex(row, space-between, center);

    padding: 5px;
    width: 100%;
}

.left-bar .header, .left-bar .main, .left-bar .bottom {
    border-bottom: 1px solid $colorGray;

    @include display-flex(column, stretch, stretch);

    margin: 5px;
    height: auto;
    width: 100%;
    .item {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(10, 10, 10, .3);
        color: $colorBlack;
        cursor: pointer;

        @include display-flex(row, stretch, center);

        @include font-size(.875rem);
        font-family: $fontPrincipal;
        text-decoration: none;

        margin: 5px;
        padding: 10px;

        @include hover($colorPrimary, $colorBlack);

        .icon {
            @include font-size(1rem);

            @include hover-font($colorBlack);
        }
        
        &.active {
            background: $colorPrimary;
            color: $colorBlack;
        }
    }
}

.left-bar .header {
    @include display-flex(row, center, center);
    
    padding: 5px 0 10px 0;
    width: 100%;
    
    .profile {
        border-radius: 100%;
    }
    
    .card {
        border-radius: 0;
        
        @include display-flex(column, stretch, center);
    }
    
    .container {
        .icon {
                @include font-size(.875rem);
                
                margin: 0;
                padding: 0;
            }
            
            .icon:hover {
                color: $colorBlack;
            }
        }
}

// SOBRE //
header.header.about, header.header.contacts {
    .container.container-row {
        @include display-flex(row, stretch, center);
        
        a {
            .icon {
                margin: 5px;
            }
        }
    }
}