@import './variables.scss';
@import './animation.scss';

header.header {
    box-shadow: 0px 3px 10px 0px rgba(37, 35, 36, 1);

    @include display-flex(row, space-between, center);

    padding: 5px;
}

.left-bar {
    animation: smoothLeftBar 1s ease-in-out;
    transition: .5s;

    background: $colorWhite;
    box-shadow: 3px 0px 10px 0px $colorGray;

    @include display-flex(column, space-between, center);

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: auto;
    z-index: 2;
}

.container:nth-child(-n + 4) {
    border-bottom: 2px solid $colorBlack;

    padding: 5px;
}

.container:nth-child(1) {
    @include display-flex(row, center, center);
}

.container:nth-child(n + 2) {
    @include display-flex(column, stretch, stretch);
    .item {
        border: 2px solid $colorPrimary;
        box-shadow: 3px 3px 10px 0px rgba(37, 35, 36, 1);
        cursor: pointer;

        @include display-flex(row, stretch, center);

        @include font-size(.875rem);
        font-family: $fontPrincipal;
        text-decoration: none;

        padding: 10px;

        @include hover($colorBlack, $colorBlack);

        .icon {
            @include font-size(1rem);

            @include hover-font($colorBlack);
        }
    }
}