@import './variables.scss';
@import './animation.scss';

header.header {
    box-shadow: 0px 3px 10px 0px rgba(37, 35, 36, 1);

    @include display-flex(row, space-between, center);

    padding: 5px;
}

.left-bar {
    animation: smoothLeftBar 1s forwards;
    transition: .5s;

    background: $colorWhite;
    box-shadow: 3px 0px 10px 0px rgba(37, 36, 35, 1);

    @include display-flex(column, space-between, center);

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: auto;
    z-index: 2;
}

.container:nth-child(1) {
    border-bottom: 2px solid $colorPrimary;

    @include display-flex(row, space-between, center);

    padding: 5px;
}