@import './variables.scss';
@import './animations.scss';

main.card.post {
    .post {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(10, 10, 10, 0.3);
    
        margin: 5px;
        @include size(7vh, 12vw);
    }
    
    .post-video {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(10, 10, 10, 0.3);
        
        text-align: center;
        
        @include display-flex(column, center, center);
        
        position: relative;
    
        margin: 5px;
        @include size(7vh, 12vw);
        z-index: 0;
        
        
        &:before {
            content: '/25B6';
            
            background: red;
            color: $colorPrimary;
            
            position: absolute;
            
            height: 10px;
            width: 10px;
            z-index: 1;
        }
    }
  
    .card.user {
        width: 100%;
    }
}