@import './variables.scss';
@import './animations.scss';

main.card.post {
    .post {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(10, 10, 10, 0.3);
        cursor: pointer;
    
        margin: 5px;
        @include size(8vh, 15vw);
        
        &.post-full {
            @include size(50vh, 90vw);
        }
        
        .remove {
            background: $colorDanger;
            color: $colorWhite;
            border-radius: 50%;
            cursor: pointer;
            
            @include font-size(1.125rem);
            
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}