@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins&display=swap');

$colorPrimary: #469CF7;
$colorDarkPrimary: #0E2A56;
$colorSecondary: #E7C213;
$colorDanger: #E05135;
$colorBlack: #252324;
$colorGray: #4F4F4F;
$colorWhite: #FFFFFF;
$fontLogo: 'Oleo Script', cursive;
$fontPrincipal: 'Poppins', sans-serif;

@mixin display-flex($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: nowrap;
    justify-content: $content;
    align-items: $align;
}

@mixin button-style($background, $color) {
    background: $background;
    color: $color;

    &:hover {
        background: darken($background, 10%);
    }
}

@mixin link-style($color) {
    color: $color;

    &:hover {
        color: darken($color, 10%);
    }
}

@mixin font-color($color) {
    color: $color;
}

@mixin font-size($min-size) {
    font-size: clamp($min-size, $min-size + .125rem, $min-size + .25rem);
}

@mixin hover($background, $color) {
    &:hover {
        background: $background;
        color: $color;
    }
}

@mixin hover-font($color) {
    &:hover {
        color: $color;
    }
}

@mixin check-style($background, $border) {
    border: 2px solid $border;
    &:checked {
        background-image: url('https://i.postimg.cc/m2fn4LjB/icons8-marca-de-sele-o-do-instagram-48.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}